{% extends "app_base.html" %}
{% block content %}
<h3>Where Your At</h3>
<ul>
{% if search_result %}
{% for result in search_result %}
<a href="result/?name={{result['time']}}", target = "view_blank"><h2>{{ result['pagename'] }}</h2></a>
	{% for key in result %}
		{% if not key == 'pagename' %}
		<div>
			<span>{{ key|e }}</span>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<span>{{ result[key]|e }}</span>
		</div>
		{% endif %}
  	{% endfor %}
  	<div>--------</div>
{% endfor %}
{% else %}
<div>No results</div>
{% endif %}
</ul>

{% endblock %}