{% extends "app_base.html" %}
{% block content %}
<ul>
<div id="accordion">
{% if search_result %}
{% for result in search_result %}
{# <a href="result/?name={{result['time']}}", target = "view_blank"><h2>{{ result['pagename'] }}</h2></a> #}
{#	{% for key in result %} #}
		<div class="card border-secondary mb-3" >
            <div class="card-header" id="headingOne">
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#{{ loop.index }}" aria-expanded="false" aria-controls="{{ loop.index }}">{{ result["pagename"]|e }}</button>
                </div>
                <div class="col-md-4">
                    <h6 class="card-subtitle mb-2 text-muted"><span>{{ "line:"|e }}</span>
                        {{ result["pagenumber"]|e }}</h6>
                </div>
                <div class="col-md-4"><h6 class="card-subtitle mb-2 text-muted">{{ result["created_date"]|e }}</h6></div>
            </div>

        </div>
        <div id="{{ loop.index }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <textarea name="textarea-name" class="form-control" rows="3">{{ result["note"]|e }}</textarea>
              </div>
    </div>
        {#	{% endfor %} #}
{% endfor %}
</div>
{% else %}

<div>No results</div>
{% endif %}
</ul>

{% endblock %}